

h2 {
    margin-left: 45%;
}


td{
    width:100px;
    height: 100px; 
    
}
table{
    margin-top: 2%;
    margin-left:40%;
}


.vertical{
    border-left: 2px solid black;
    border-right:2px solid black;   
}
.horizontal{
    border-top: 2px solid black;
    border-bottom:2px solid black;   
}
 
